@model Wypozyczalnia.ViewModels.SamochodViewModel

@{
    ViewData["Title"] = "Usuń samochód";
}

<h2>Usuń samochód</h2>

<h3>Czy na pewno chcesz usunąć ten samochód?</h3>
<dl class="row">
    <dt class="col-sm-2">Marka</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Marka)</dd>
    <dt class="col-sm-2">Model</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Model)</dd>
    <dt class="col-sm-2">Rok produkcji</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.RokProdukcji)</dd>
    <dt class="col-sm-2">Kolor</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Kolor)</dd>
    <dt class="col-sm-2">Dostępność</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Dostepnosc)</dd>
    <dt class="col-sm-2">Poj. silnika</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.PojSilnika)</dd>
    <dt class="col-sm-2">Moc silnika</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.MocSilnika)</dd>
    <dt class="col-sm-2">Cena za wypożyczenie</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.CenaZaWypozyczenie)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdSamochodu" />
    <input type="submit" value="Usuń" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Wróć</a>
    <input type="hidden" asp-antiforgery="true" />
</form>